* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Urbanist', sans-serif;
}

body {
   background-color: #F6F8F9;
}

/* HEADER */
#logo {
   padding: 8px 0 8px 20px;
   vertical-align: -25px;
}

#logo-text {
   margin-left: 5px;
   font-size: 30px;
   font-weight: 900;
   color: #031732;
}

.container {
   margin: 70px auto;
   width: 65%;
   background-color: #FFF;
}

.b-radius {
   border-radius: 7px;
}

header {
   background-color: #FFF;
}

/* MAIN */

/* header container */
.container .header-container {
   padding: 10px 60px;
   border-bottom: 2px solid #F6F8F9;
}

.header-container .button {
   padding: 6px 10px;
   font-size: 15px;
   display: inline-block;
}

.button.add-task {
   background-color: #47ADF1;
   color: #FFF;
}

.button.add-section {
   border: 1px solid #C8CDD2;
   color: #979B9F;
}

/* main container */
.container .main-container {
   padding: 20px 60px;
}

.main-container .area {
   margin: 20px 0;
}

.main-container .area h3{
   font-size: 23px;
   font-weight: 700;
}

.area h3::before {
   margin-right: 5px;
   content: " \25BC ";
   font-size: 15px;
}

.area .element-list {
   padding: 10px 0;
   display: block;
}

.main-container .area .done::before {
   content: "\2713";
   margin-right: 6px;
   padding: 3px 7px;
   color: #63BFA8;
   border: 2px solid #63BFA8;
   border-radius: 50%;
}

.main-container .area .to-do::before {
   content: "\2716";
   margin-right: 6px;
   padding: 3px 7px;
   color: #E9453D;
   border: 2px solid #E9453D;
   border-radius: 50%;
}

/* Etichette */
.area .element-list .label {
   margin-left: 5px;
   padding: 10px;
   font-size: 12px;
   border-radius: 10px;
   display: inline-block;
}

.label.editorial::before{
   content: "Editorial";
   padding: 6px 10px;
   background-color: #45ABEA;
   border-radius: 15px;
}

.label.q1-goals::before{
   content: "Q1 Goals";
   padding: 6px 10px;
   background-color: #9C72E4;
   border-radius: 15px;
}

.label.recruiting::before{
   content: "Recruiting";
   padding: 6px 10px;
   background-color: #64C0A9;
   border-radius: 15px;
}

.label.mobile::before{
   content: "Mobile";
   padding: 6px 10px;
   background-color: #F29E33;
   border-radius: 15px;
}

.label.website::before{
   content: "Website";
   padding: 6px 10px;
   background-color: #D863A1;
   border-radius: 15px;
}

.label.sales::before{
   content: "Sales";
   padding: 6px 10px;
   background-color: #B0C926;
   border-radius: 15px;
}